@import 'basics/base';
@import 'basics/powercord_toast';
@import 'basics/buttons';
@import 'basics/profile_modal';
@import 'basics/settings';
@import 'variants/glasscord.scss';

:root {
    // Background Images
    --chattyBgImgGlobal: url(https://source.unsplash.com/daily/?abstract);
    --chattyBgImgPopups: var(--chattyBackgroundImageGlobal);

    // Background Colors
        // glasscord + transparent

        // solid colors

    // Accents
    --chattyColorAccent: #ee8890;
    --chattyColorDeclineButton: #ca4040;
    --chattyColorAcceptButton: #4fd44a;
    --chattyColorIcons: #ffffff;

    // Text
    --chattyColorMainText: #ffffff;
    --chattyColorSubText:

    // Corner Radius
    --chattyRadiusGlobal: 5px;
    --chattyRadiusServerIcon: var(--chattyRadiusGlobal);
    --chattyRadiusPopUps: var(--chattyRadiusGlobal);
    --chattyRadiusImages: var(--chattyRadiusGlobal);
    --chattyRadiusEmbeds: var(--chattyRadiusGlobal);

    // Padding
    --chattyPaddingGlobal: 10px;
    --chattyPaddingChat: var(--chattyPaddingGlobal);

    // Blur
    --chattyBlur: 100px;

    // Glasscord Stuff
    --glasscord-win-blur: acrylic;
    --glasscord-titlebar: windows;
}