@import 'basics/transparent';
@import 'basics/powercord_toast';
@import 'basics/buttons';
@import 'basics/profile_modal';
@import 'basics/settings';
@import 'addons/hide_nitro_tab';

:root {
    --chattyBackgroundImage: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    --chattyBorderRadius: 15px;
    --chattyPadding: 10px;
    --chattyBlur: 50px;
}